  @media screen and (max-width:400px){
  .nav-container{
    flex-direction: column;
  }
  ..logo-container{
    flex-direction: column;
  }.banner-container{
    flex-direction: column;
    width: 100%;
    }
  
}
