
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: content-box;
    
    
}

body{
    font-family:font-family: 'Work Sans', sans-serif; ;
}

.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container{
display: flex;
width: 50%;

}
.logo-container img{
    width: 86.041px;
height: 40px;
margin-top: 40px;
object-fit: cover;
margin-right: 20px;
}

.logo-container p{
    font-size: 40px;
    margin-left: 0px;
   
}
.hive-section{
    color: #FF42A5;
}

.nav-items-container{
width: 50%;
display: flex;
align-items: center;
justify-content: space-evenly;

}
.nav-items-container a{
    text-decoration: dashed;
}
.nav-items-container img{
    width: 30px;
}
.nav-btn{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    align-items: center;
    width: 150px;
    justify-content: space-evenly;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffbc;justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

}
.banner-discription{
    width: 50%;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
   
}
.banner-title-1{
    color: #0B0223;
font-size: 48px;
font-weight: 600;
width: 348px;
height: 56px;
}
.banner-title-2{
font-size: 95px;
font-weight: 600;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-text-fill-color: transparent;
width: 355px;
height: 111px;
background-clip: text;
-webkit-background-clip: text;
}
.banner-description-1{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}
.banner-description-2{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}
.banner-description-3{
    color: #534C64;
font-size: 20px;
font-weight: 500;
}

.btn-primary{
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 48px;
    color: white;
    font-size: 1.25rem;
    border: 0px;
    background-color: #FF42A5;
    margin-bottom: 50px;
}
.btn-secendary{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 25px;
    cursor: pointer;
    color: white;
    border: 0px;
    margin-bottom: 50px;

}
.banner-img{
    background: #FFF;
    width: 50%;
}
.games-title{
    margin-top: 15px;
}
.grid-container{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 500px;
    grid-template-columns: repeat(4,1fr);
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
}

.single-product-1{
  
    padding: 0 10px;
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
}

.single-product-1 img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.single-product-1 h4{
    align-items: center;
    
}
.review-container{
    margin-top: 50px;
    min-height: 250px;
    margin: 50px 20px 0 20px;
    
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.review-items{
    flex-basis: 300px;
    display: flex;
    align-items: center;
    margin: 15px 25px 15px 25px;
   justify-content: space-around;
   width: 100px;
   border-radius: 50px;
   background: #ffffff9e;
width: 350px;
height: 80px;
}
.footer{
    height: 400px;
    max-width: 100%;
    background:  #0B0223;
}
.footer-img-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    color: white;

}
.footre-img-container img{
    object-fit: cover;
    width: 75px;
    height: 35px;
}
.footer-img-container h1{
font-size: 2.2rem;
font-weight: 800;
color: white;
}
.link-container{
    
    max-width: 45%;
    margin: 0 auto;
}
.link-container a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    margin-left: 60px;
    justify-content: center;

}
.social-icon-container {
    color: white;
    max-width: 25%;
    margin: 0 auto;
}
.social-icon-container a{
    text-decoration: none;
    color: #FFF;
    font-size: 0.8rem;
    font-weight: 600;
}
.f, .t, .i, .y, .a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    margin-left: 65px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.policy-link-container{
    max-width: 35%;
    margin: 0 auto;
    
}
.policy-link-container a{
    text-decoration: none;
    font-size: 0.7.5rem;
    font-weight: 600;
    color:rgba(255, 255, 255, 0.60);
    /* display: flex; */
    text-align: center;
    justify-content: space-evenly;
    margin-left: 25px;
}
